* {
				margin:0px;
				padding:0px;
			}
			
	
	body{
		background:  rgba(221, 177, 24, 1) url('../imagenes/mosaico.png') ;
	}
	footer{
		background: rgba(221, 177, 24, 1);
	}
	nav {
    background: rgba(0,0,0,0.5);
    width: 100%;
    position: fixed;
    z-index: 100;
    float: left;
    left: 0em;
    top: 0em;
    
  }
  .interior{
	background: rgba(0,0,0,0.5);
	display: block;
	width: 100%;
  }
  nav ul {
      list-style: none;
      overflow: hidden; 
    }
     
    

    nav ul li {
        
        float: left;
        font-family: Arial, sans-serif;
        font-size: 16px;
  
      }
      nav ul li#Logo {
        
        float: left;
        font-family: Cinzel, sans-serif;
        font-size: 1em;
  
      }
     
    nav ul li a {
      display:block;/* Convertimos los elementos a en elementos bloque para manipular el padding*/
      padding: 1em;
      color: white;
      text-decoration: none;
      
    }
     
    nav ul li:hover {
      background: orange;
      
	}
	.nav > li {
				float:left;
	}
	.nav li ul li ul {
				right:-140px;
				top:0px;
			}
	
	
	
			ul, ol {
				list-style:none;
            }
            
            #Fact{

                text-align: justify;

            }
			
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			ul#Alimentos {list-style-image: url("../imagenes/ico_alim.png");}
            ul#Bebidas {list-style-image: url("../imagenes/icono_beb.png");}
            ul#Vacio{list-style-image: url("");}

            h1{ letter-spacing: .1em; 
                color:rgb(0, 139, 23); font: normal 3em Cinzel, georgia, serif; 
                text-shadow: -.05em -.5em 2em black; 
                text-shadow: .03em .08em .05em #b4dee6; 
                text-align: center;
            }
			
			
  
	