
body{
    min-height: 100vh;
    background:  center / cover, linear-gradient(#F9E79F  ,#F7DC6F  );
    font-family: 'Times New Roman', Times, serif;
         
}
#titulo{
    font-family: cursive;
    text-align: center;
    color:#F9E79F  ; 
    font-variant: small-caps;
    text-shadow: #52BE80   -1px -1px 0px,#52BE80   1px 1px 0px;
    font-size:5em;
    

}

h2{ 
    font-family: cursive;
    font-size:2em;
    text-align: center;
    font-variant: inherit;
    color:#F9E79F ; 
    text-shadow: #52BE80   -1px -1px 0px,#52BE80   1px 1px 0px;
    border-bottom: 1px solid #3faa5f;

    
    
    
    	
}
h1{ 
    font: bold 1.5em "Gist Light", Georgia, serif; text-shadow: .1em .1em .1em silver;  
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#historia{
    font-variant: small-caps;
    font-weight: bold; 
    text-align: center;
    border-radius: 25px;
    padding: 1em; 
    padding-left: 55px;
    background: #FFBC53  ;
    font-size: .875em;
    line-height: 1.5;
    color: #633;
}
#izquierda{
    font-variant: small-caps;
    font-weight: bold; 
    text-align: center;
    color: #633;
    
   

}
#derecha{
    font-variant: small-caps;
    font-weight: bold; 
    text-align: center;
    color: #633;
    border-bottom: 1px solid #3faa5f;


}
#Domicilio{
    font-variant: small-caps;
    font-weight: bold; 
    text-align: center;
    color: #633;
    border-radius: 25px;
    padding: 1em; 
    padding-left: 55px;
    background: #FFBC53  ;
    font-size: .875em;
    line-height: 1.5;
    
}
img{
    width: 550px; height: 350px;
    border-radius:50px;
-webkit-clip-path: circle(30px at 50% 30px);
        clip-path: circle(30px at 50% 30px);
transition: -webkit-clip-path 2s;
transition: clip-path 2s;
transition: clip-path 2s, -webkit-clip-path 2s;


}
img:hover {
   
    -webkit-clip-path: circle(650px at center);
            clip-path: circle(650px at center);
  }
.copyright{
    text-align: center;
    font-family: cursive;
    font-variant: small-caps;
    text-transform: lowercase;
}